body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 12);
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)),
        url(imgs/wallpaper2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 5%;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title h1 {
    font-size: 60px;
}

#title p {
    color: white;
}

#buttonCTA a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonCTA a:hover {
    background-color: #fdd9e0;
}
